# Archivos del sistema operativo
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Configuraciones de editores e IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Archivos temporales o logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Script local de base de datos
reset_db.php

# Configuracion local privada
api/config.php
